/* main dashboard */
.dashboard
{
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell,  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Activity Pane */
.paneWrapper
 {
  background: #100F1D;
  color: #ececec;
  height: 100vh;
  max-width: 16.5rem;
}

/* user profile */
.profilerBox
 {
  background: #27273c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 13rem;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.img__wrap
{
  height: 100%;
  width: 100%;
}

.userImage
{
  max-width: 100%;
  display: block;
  height: auto;
}

.defaultImage
{
  max-width: 100%;
  font-size: 5rem;
  text-align: center;
}

.editIcon
{
  color: white;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: .5rem;
  right: 1rem;
  transition: all .3s;
  transform: translateX(100%) translateX(1rem);
}

.profilerBox footer.info
{
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
  transition: all .3s;
  background: rgba(0, 0, 0, 0.3);
  transform: translateY(100%) translateY(-1px);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.profilerBox:hover .info,
.profilerBox:hover .editIcon
{
  transform: translateY(0)
}

/* Interactive */
.app__interact
{
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.welcome_msg
{
  text-align: center;
  color: #1b1933;
}

.welcome_msg h1
{
  font-weight: 500;
}

/* ListItems */
.list_box
{
  display: flex;
  height: 55%;
}

.list_box ul
{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list_box ul li
{
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding-left: 1rem;
  transition: all .3s;
}

.list_box ul li:hover
{
  background: #0b0b1b;
}