.body
{
  background: linear-gradient(260deg, #0784b6, #044377);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container__main
{
  background: white;
  box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.3), 0 4px 2px rgba(0, 0, 0, 0.24);
  border-radius: .3rem;
  padding: .8rem 0 .2rem;
  width: 30rem;
  transition: .3s ease;
}

.title
{
  padding: .2rem 0 .5rem 2rem;
  border-left: 5px solid #ed2553;
  color: #ed2553;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

form
{
  color: #666666;
}

.login__container
{
  padding: 0 0 .5rem 2.5rem;
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  position: relative;
  margin-bottom: 1rem;
}

.login__container input
{
  background: none;
  border: 0;
  color: #212121;
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.3rem;
  outline: none;
  width: 100%;
  position: relative;
}
/*
.login__container .login__details
{
  position: absolute;
  top: -0.4rem;
  left: 2.5rem;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
} */

.bar
{
  position: absolute;
  left: 2.5rem;
  bottom: 0;
  height: 1px;
  background: rgba(117, 117, 117, 0.824);
  width: 90%;
}

.remember
{
  display: flex;
  padding: .5rem 0 1rem 2.5rem;
  cursor: pointer;
}

.button
{
  height: 3.5rem;
}

.login-button
{
  background: linear-gradient(120deg, #ed2553, #a81d3d);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.arrow-right
{
  margin-bottom: -3px;
  transform: translateX(2.8rem);
  transition: .2s ease-in-out;
}

.login-button:hover
{
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2), 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.login-button:hover .arrow-right
{
  transform: translateX(0);
}

.btn
{
  border: none;
  cursor: pointer;
  transition: .2s ease;
}

.login__container-footer
{
  background: #0a416e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials
{
  width: 90%;
  display: flex;
  box-sizing: border-box;
  padding: .5rem;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #092d4b;
}

.socials p
{
  color: #dbdbdb;
  font-weight: 500;
}

.iconholder
{
  display: flex;
  justify-content: space-around;
  flex-grow: 1
}

.social-icons
{
  color: #cfcfcf;
  cursor: pointer;
  font-size: 1.5rem;
  transition: .2s ease-in-out;
}

.social-icons:hover
{
  color: white;
  transform: scale(1.5);
}

.extras
{
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  color: #cfcfcf;
  height: 2.8rem;
}

.register
{
  background: rgba(0, 0, 0, 0.3);
  border-radius: .3rem;
  color: white;
  padding: .7rem;
  width: 40%;
  text-align: center;
}

.register:hover
{
  background: rgba(0, 0, 0, 0.2);
}

.quest
{
  text-align: center;
  color: #666666;
  margin: .6rem 0;
}

a:link, a:visited, a:active, a:focus, a:focus
{
  color: inherit;
  text-decoration: none;
}